<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Collié</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css" integrity="" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
  

</head>

<body>
        <div class="modal fade" id="shoppingCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Shopping Cart</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" id="cartBody">
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="/checkout"><button type="button" class="btn btn-primary">Continue to checkout</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="itemAdded" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Added to cart!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>



    
                <nav class="navbar navbar-light sticky-top">
                    <div>
                        <ul class="navbar-nav ml-auto">
                            <a class="nav-link" href="/">Avaleht</a>
                            <a class="nav-link active" href="/shop">Pood</a>
                            <a class="nav-link" href="/about">Meist</a>
                            
                        </ul>
                    </div>
                    <div class="navbar-nav ml-auto mr-auto">
                        <a href="/" class="navbar-brand">
                            <img src="/images/logo.png">
                            <!-- <span id="brandname" class="navbar-brand"><h1>Collié</h1></span> -->
                        </a>
                    </div>
                    <button style="padding-top:2vh;" type="button" class="btn" data-toggle="modal" data-target="#shoppingCart">
                        <img id="cartLogo" src="/images/cart.png">
                    </button>
                </nav>

    <div class="container">
        <div class="row">              
            <div class="col-sm-6">
                <div  id="item1" class="thumbnail">
                    <img src="/images/hor1.jpeg" class="img-responsive item1">
                    <div class="caption">
                        <h4 id="name">Item1</h4>
                        <div class="clearfix">
                            <div class="price">11$</div>
                            <a href="#" class="btn btn-success addCart" id="item1" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div  id="item2" class="thumbnail">
                    <img src="/images/hor2.jpeg" class="img-responsive item2">
                    <div class="caption">
                        <h4 id="name">Item2</h4>
                        <div class="clearfix">
                            <div class="price">12$</div>
                            <a href="#" class="btn btn-success addCart" id="item2" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div  id="item3" class="thumbnail">
                    <img src="/images/ver1.jpeg" class="img-responsive item3">
                    <div class="caption">
                        <h4 id="name">Thumbnail label</h4>
                        <div class="clearfix">
                            <div class="price">12$</div>
                            <a href="#" class="btn btn-success addCart" id="item3" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>      
            <div class="col-sm-6">
                <div  id="item4" class="thumbnail">
                    <img src="/images/hor4.jpeg" class="img-responsive item4">
                    <div class="caption">
                        <h4 id="name">Thumbnail label</h4>
                        <div class="clearfix">
                            <div class="price">12$</div>
                            <a href="#" class="btn btn-success addCart" id="item4" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div  id="item5" class="thumbnail">
                    <img src="/images/ver3.jpeg" class="img-responsive item5">
                    <div class="caption">
                        <h4 id="name">Thumbnail label</h4>
                        <div class="clearfix">
                            <div class="price">12$</div>
                            <a href="#" class="btn btn-success addCart" id="item5" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div  id="item6" class="thumbnail">
                    <img src="/images/ver2.jpeg" class="img-responsive item6">
                    <div class="caption">
                        <h4 id="name">Thumbnail label</h4>
                        <div class="clearfix">
                            <div class="price">12$</div>
                            <a href="#" class="btn btn-success addCart" id="item6" role="button" data-toggle='modal' data-target='#itemAdded'>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row social">
              <a href="https://www.facebook.com/villem.susi" class="fa fa-facebook"></a>
              <a href="https://www.instagram.com/maamehepaismais/" class="fa fa-instagram"></a>
            </div>
        </footer>
    </div>

<script>

function removeItem(e) {
    e.parentNode.parentNode.removeChild(e.parentNode);
    localStorage.removeItem(e.parentNode.id);
}

$(".addCart").click(function(e) {
    e.preventDefault();
    var id = $(this).attr("id");
    var name = this.parentNode.parentNode.childNodes[1].innerHTML;
    var price = this.parentNode.childNodes[1].innerHTML;
    var item = { 'name': name, 'price': price, 'id': id};
    console.log(item);
    localStorage.setItem(id, JSON.stringify(item));
    if( $("#cartBody").has("#"+id).length == false ) {
        document.getElementById("cartBody").innerHTML += "<div class='text-center' id='"+id+"'><img style='height:100px;' src='" + document.getElementsByClassName(id)[0].src +"'><p class='font-weight-bold'>"+name+" - "+price+"</p><button type='button' onclick='removeItem(this)' class='btn btn-danger " + id + "'>Remove</button></div><div class='dropdown-divider'></div>";
    }
})
$(document).ready(function() {
    let items = [];
    for (var i in localStorage) {
        if (i != "length") {
            items.push(i);
        } else {break;}
        
    }
    for (var i = 0; i < items.length; i++) {
        let id = JSON.parse(localStorage.getItem(items[i]))["id"];
        let name = JSON.parse(localStorage.getItem(items[i]))["name"];
        let price = JSON.parse(localStorage.getItem(items[i]))["price"];
        document.getElementById("cartBody").innerHTML += "<div class='text-center' id='"+id+"'><img style='height:100px;' src='" + document.getElementsByClassName(id)[0].src +"'><p class='font-weight-bold'>"+name+" - "+price+"</p><button type='button' onclick='removeItem(this)' class='btn btn-danger " + id + "'>Remove</button></div><div class='dropdown-divider'></div>";
    }
    
});

</script>
</body>
</html>